<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lotto Gauza~~~~</title>
</head>
<body>
    <h1>LOTTERY GOGO</h1>
    <form action="/lottoresult">
        로또회차: <input type="number" name="lottoround"><br />
        행운번호뀨뀩: <input type="text" name="numbers"><br />
<!-- using space to split -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>