<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ping</title>
<!-- Giving out surveys -->
</head>
<body>
    <form action="/pong">
        <input type="text" name="age">
        <!-- \name은 입력값 이름 -->
    <button type="submit">제출하기</button> 
    </form>
<!-- action: destination, 제출 버튼? -->
<!-- special type of button, submit -->
</body>
</html>


<!-- 1) 로그인페이지(id, 비번 입력)
사용자가 요청을 보낸다(로그인페이지 render template)
#검색도 마찬가지, 검색 페이지 내놔라
우리는 요청을 받을 수 있는 경로가 있어야 한다
2) 회원이 맞는지 확인하고 로그인 혹은 불가
3) 

-로그인 창 보여주는 페이지, 아이디 입력 후 로그인 해달라

ping의 route로 들어와서  pong으로 보낸다

그래서 새 페이지 age보여줌 -->